.cv_form {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  box-sizing: border-box;
  text-align: left;
}

.form_group_inline {
  display: flex;
  justify-content: space-between;
}

.form_group {
  width: 100%;
}

.cv_form h3 {
  text-align: center;
  margin-bottom: 20px;
}

.cv_form form {
  display: flex;
  flex-direction: column;
}

.cv_section {
  /* margin-bottom: 20px; */
}

.cv_section h4 {
  margin-bottom: 10px;
  font-size: 18px;
}

.cv_form label {
  margin-bottom: 10px;
  font-weight: bold;
}

.cv_form input,
.cv_form textarea,
.cv_form select {
  padding: 10px;
  /* margin-bottom: 15px; */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.cv_form textarea {
  resize: none;
}

.cv_form .date_fields {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cv_form .date_fields input[type="date"] {
  width: 100%;
}

.cv_form button[type="submit"] {
  margin-top: 10px;
  /* align-self: flex-start; */
  /* width: 25%; */
  font-size: 1.5rem;
  padding: 12px 24px;
  background-color: #71e1ef;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.cv_form button[type="submit"]:hover {
  background-color: #2a7a6d;
}

.remove_button {
  padding: 8px 12px;
  background-color: #f32c2c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.remove_button:hover {
  background-color: #7b1414;
}

.add_button {
  padding: 8px 12px;
  background-color: #71e1ef;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add_button:hover {
  background-color: #2a7a6d;
}

@media (max-width: 767px) {
  .cv_section {
    padding: 15px;
  }
  .cv_form {
    padding: 15px;
  }
}

@media (min-width: 768px) {
  .cv_form {
    margin: 0 auto;
    max-width: 600px;
  }
}

@media (min-width: 1024px) {
  .cv_form {
    max-width: 800px;
  }
}

@media (min-width: 1200px) {
  .cv_form {
    max-width: 1000px;
  }
}
